
<!doctype html>
<html ng-csp>

<head>
    <title>Redirector</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.css">
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</head>

<body ng-controller="PopupCtrl" ng-cloak id="">
  <div id="main-container">
    <div class="container-fluid">
                <nav class="navbar navbar-fixed-top navbar-toolbar navbar-default proxly-nav-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header" style="float:left;">
                
                    <a style="" href="#" class="navbar-brand proxly-image">
                        <span class="proxly-name">Proxly</span>
                    </a>


                </div>

<!--                 <form class="navbar-form navbar-left " role="search">
                    <div class="form-group">
                        <span class="proxly-host">http://{{server.status.host}}:</span>
                        <input type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534">
                        <button type="button" ng-click="changePort()" class="btn btn-sm btn-default">Save</button>
                    </div>

                </form> -->

                <!-- <div class="collapse navbar-collapse"> -->
<!--                     <ul class="navbar-nav nav">
                        <li ng-click="navIsRedirect=false" class="{{navIsRedirect ? '' : 'active'}}"><a href="#">Server</a></li>
                        <li ng-click="navIsRedirect=true" class="{{navIsRedirect ? 'active' : ''}}"><a href="#">Redirect</a></li>
                    </ul> -->
                    <!-- <div class="nav navbar-nav"> -->
                    <ul class="nav navbar-nav" style="float:left;margin-left:20px;">
                        <li style="float:left;margin:0;" ng-click="navIsHeaders=false" class="{{navIsHeaders ? '' : 'active'}}"><a href="#" >Redirect</a></li>
                        <li style="float:left;margin:0;" ng-click="navIsHeaders=true" class="{{navIsHeaders ? 'active' : ''}}"><a href="#" >Headers</a></li>
                        <button  style="float:left;margin:0;" class="btn btn-success navbar-btn navbar-right" type="button" id="" ng-click="newItem()">New Item</button>
                    </ul>
                    <!-- </div> -->
                <!-- </div> -->

            </div>

        </nav>
    </div>
    <div class="main-content container-fluid">
 
        <div ng-show="navIsHeaders==false" class="panel panel-info repeated-item" ng-repeat="item in tabMaps track by $index">
            <div class="panel-body">

                <div class="input-group col-xs-12 proxly-name">
                    <span type="text" id="projectName">{{item.name}}</span>
                    <!-- <div class="btn-group"> -->
                    <!--after-toggle="toggleItem(item)"-->
                        <div style="float:right;"> <flip-switch style="display:block;" ng-model="item.isOn" knob-label="Redirect" after-toggle="toggleItem(item)" identifier="redir-{{$index}}"></flip-switch> 
                          </div>
                    <!-- </div> -->
                    
                </div>
                <div class="col" ng-show="item.type == 'Web Server'">
                    <span class="label label-default">Web Server URL</span>
                    <input ng-disabled="true" ng-model="item.origin" type="text" class="form-control input-sm" />
                </div>
                <div class="proxly-folder" ng-show="item.type == 'Local Dir'">
                    <code ng-if="item != null && item.dir != null && item.dir.pathName != null">{{item.dir.pathName}}</code>
                    <button ng-if="item == null || item.directoryEntryId == null || item.directoryEntryId == ''" ng-click="openApp()" class="btn btn-info" ng-click="openDirectory(item)">Open App to select a directory</button>
                </div>                
            </div>
        </div>

        <div class="panel panel-info headers" ng-show="navIsHeaders">
            <div class="panel-body">
            <div>
                <flip-switch ng-model="cors.isOn" after-toggle="toggleCORS()" knob-label="CORS" identifier="cors"/>
                
            </div>
        
            <!-- <div class="row"> -->
      <!--           <div class="col-xs-6">
                    <span class="label label-default">Matching Request URL</span>
                    <input list="regex-url" ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-change="setLocalPath(item)" ng-model="item.url" type="text" class="form-control input-sm" >

                </div>
                <div class="col-xs-6">
                    <span class="label label-default">Matching Header<input type="checkbox"></span>
                        <input type="text" class="form-control input-sm" >
                </div>
                <div class="col-xs-1">
                <div class="">&nbsp;</div>
                    <button class="btn btn-success" ng-click="newMapping($parent.rule, item)"><span class="glyphicon glyphicon-plus"></span></button>
                </div> -->
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">
                        <span class="label label-default">Key</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="label label-default">Value</span>
                    </div>
                </div>                            
                <div class="well" ng-repeat="item in tabHeaders track by $index">
                    <div class="row">
                            <div class="col-xs-3">
                              <flip-switch style="display:block;" ng-model="item.isOn" knob-label="Header" after-toggle="toggleHeader(item)" identifier="redir-{{$index}}"></flip-switch>
                            </div>  
                            <div class="col-xs-5 dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{item.type}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" ng-click="item.type='Request'">Request</a></li>
                                    <li><a href="#" ng-click="item.type='Response'">Response</a></li>
                                </ul>
                                <!-- <flip-switch ng-model="item.isOn" identifier="redir-{{$index}}"/> -->
                                <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('on', item)">On</button> -->
                                <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('off', item)">Off</button> -->
                                
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-danger btn-sm" ng-click="deleteHeader(item)"><span class="glyphicon glyphicon-minus"></span></button>
                            </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <input type="text" ng-model="item.name" class="form-control input-sm" >
                        </div>
                        <div class="col-xs-7">
                            <input type="text" ng-model="item.value" class="form-control input-sm" >
                        </div>   
                    </div>    
                    <!-- <div class="col-xs-1"> -->
                      
                    <!-- </div>  -->
                                      
                </div>
                </div>
            </div>          
        <nav class="navbar navbar-toolbar navbar-default navbar-fixed-bottom resources-nav res-show" ng-show="showResources" role="navigation">
            <div class="container-fluid">
                <ul class="navbar-nav nav">
                    <li>
                        <a style="" href="#" class="navbar-brand">
                            <span class="proxly-name">http://{{server.status.host}}:{{server.status.port}}</span>
                        </a>
                    </li>
                    <li>
                        <span>
                            <flip-switch ng-model="server.status.isOn" knob-label="Server" after-toggle="toggleServer()" identifier="server"></flip-switch>
                            <flip-switch ng-model="liveReload['active']" knob-label="LiveReload" after-toggle="toggleLiveReload(item)"></flip-switch>
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="dropper"><span class="glyphicon glyphicon-folder-open glyphicon-align-center"></span></div>
    <script src="scripts/popup.bundle.js"></script>

</body>

</html>
