<!doctype html>
<html ng-csp>

<head>
    <title>Redirector</title>
    <meta name="viewport" content="width=device-width">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/proxly/ijcjmpejonmimoofbcpaliejhikaeomh">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.css">
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>

</head>

<body ng-controller="ProxlyCtrl" ng-cloak id="">
  <div id="main-container">
    <div class="container-fluid">
        
        <nav class="navbar navbar-fixed-top navbar-toolbar navbar-default proxly-nav-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                     
                    <a style="" href="#" class="navbar-brand proxly-image">
                        <span class="proxly-name">Proxly</span>
                    </a>


                </div>

<!--                 <form class="navbar-form navbar-left " role="search">
                    <div class="form-group">
                        <span class="proxly-host">http://{{server.status.host}}:</span>
                        <input type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534">
                        <button type="button" ng-click="changePort()" class="btn btn-sm btn-default">Save</button>
                    </div>

                </form> -->

                <!-- <div class="collapse navbar-collapse"> -->
<!--                     <ul class="navbar-nav nav">
                        <li ng-click="navIsRedirect=false" class="{{navIsRedirect ? '' : 'active'}}"><a href="#">Server</a></li>
                        <li ng-click="navIsRedirect=true" class="{{navIsRedirect ? 'active' : ''}}"><a href="#">Redirect</a></li>
                    </ul> -->
                    <ul class="nav navbar-nav ">
                        <li ng-click="navIsHeaders=false" class="{{navIsHeaders ? '' : 'active'}}"><a href="#">Redirect</a></li>
                        <li ng-click="navIsHeaders=true" class="{{navIsHeaders ? 'active' : ''}}"><a href="#">Headers</a></li>
                        <li>
                            <button class="btn btn-success navbar-btn navbar-right" type="button" id="" ng-click="newItem()">New Item</button>
                        </li>
                    </ul>
                <!-- </div> -->

            </div>

        </nav>


    </div>
    <div class="main-content container-fluid">

 <!--        <div ng-show="navIsRedirect==false && (directories != null && directories.length > 0)" class="panel panel-info repeated-item" ng-repeat="item in directories track by $index">
                <div class="panel-body">
                    <div class="input-group proxly-name">
                        <div class="col-xs-2">
                            <div class="btn-group">
                            <flip-switch ng-model="item.isOn" identifier="dir-{{$index}}"/>
                            </div>

                        </div>
                        <div class="col-xs-10">
                            <div class="col-xs-11">
                                <input type="text" id="projectName" class="form-control  project-name" ng-model="item.name"></input>
                            </div>
                            <div class="col-xs-1">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" ng-click="deleteDirectory(item)">&nbsp;Delete&nbsp;</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group proxly-folder">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </div>
                        <div class="col-xs-10">
                            <code>{{item.pathName}}</code>
                        </div>
                    
                        <div class="col-xs-1">
                            <span class="input-group-btn">
                                <button class="btn btn-info" ng-click="openDirectory(item)">Browse</button>
                            </span>
                        </div>
                    </div>
                </div>
        </div> -->
   <!--      <div class="bs-callout bs-callout-danger" ng-show="navIsRedirect==false && (directories == null || directories.length == 0)">
            <h4>No directories have been added</h4>
            <p>Click the button to add a directory in here.<br>
            Drag and Drop is experimental, it will probably eat your memory and crash</p>
        </div> -->
        <div class="panel panel-info repeated-item" ng-repeat="item in maps track by $index" ng-show="navIsHeaders==false">

                <div class="panel-body">
                    <div class="row proxly-row">
                        <div class="col-xs-2">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{item.type}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" ng-click="item.type='Local Dir'">Local Dir</a></li>
                                    <li><a href="#" ng-click="item.type='Web Server'">Web Server</a></li>
                                </ul>
                                <!-- <flip-switch ng-model="item.isOn" identifier="redir-{{$index}}"/> -->
                                <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('on', item)">On</button> -->
                                <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('off', item)">Off</button> -->
                            </div>
                        </div>

                        <div class="col-xs-10" ng-show="item.type == 'Web Server'">
                            <span class="label label-default">Web Server URL</span>
                            <input ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-change="setLocalPath(item)" ng-model="item.origin" type="text" placeholder="http://localhost:9000" class="form-control input-sm" />
                        </div>
                        <div class="col-xs-9 proxly-folder" ng-show="item.type == 'Local Dir'">
                            <code ng-if="item != null && item.dir != null && item.dir.pathName != null">{{item.dir.pathName}}</code>
                            <code ng-if="item.dir == null || item.dir.pathName == null">Hit Browse to select a directory</code>
                        </div>
                        <div class="col-xs-1" ng-show="item.type == 'Local Dir'">
                            <button class="btn btn-info" ng-click="openDirectory(item)">Browse</button>
                        </div>

                    </div>
                    <div class="row proxly-row">
                        <!-- <div class="col-xs-10"> -->
                            <div class="col-xs-11">
                                <input type="text" id="projectName" class="project-name form-control" ng-model="item.name"></input>
                            </div>
                            <div class="col-xs-1">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" ng-click="deleteMapping(item)">&nbsp;Delete&nbsp;</button>
                                </span>
                            </div>
                        <!-- </div> -->
                    </div>


                    
                
                    <div class="row proxly-row">
                        <div class="col-xs-6">
                            <span class="label label-default">Match</span>
                            <input list="regex-url" ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-change="setLocalPath(item)" ng-model="item.url" type="text" class="form-control input-sm" />
    <!--                         <datalist id="regex-url">
                                <option value="test"></option>
                            </datalist> -->
                        </div>
                        <div class="col-xs-6">
                            <span class="label label-default">Replace With</span>
                            <input ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-model="item.regexRepl" ng-change="setLocalPath(item)" type="text" class="form-control input-sm" />
                        </div>
                    </div>   
              
                </div>    
        </div>
        <div class="panel panel-info headers" ng-show="navIsHeaders">
            <div class="panel-body">
            <h4>
                <flip-switch ng-model="rule.cors" knob-label="CORS" identifier="server"/>
            </h4>

            <!-- <div class="row"> -->
      <!--           <div class="col-xs-6">
                    <span class="label label-default">Matching Request URL</span>
                    <input list="regex-url" ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-change="setLocalPath(item)" ng-model="item.url" type="text" class="form-control input-sm" >

                </div>
                <div class="col-xs-6">
                    <span class="label label-default">Matching Header<input type="checkbox"></span>
                        <input type="text" class="form-control input-sm" >
                </div>
                <div class="col-xs-1">
                <div class="">&nbsp;</div>
                    <button class="btn btn-success" ng-click="newMapping($parent.rule, item)"><span class="glyphicon glyphicon-plus"></span></button>
                </div> -->
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                        <span class="label label-default">Key</span>
                    </div>
                    <div class="col-xs-5">
                        <span class="label label-default">Value</span>
                    </div>
                </div>                            
                <div class="row" ng-repeat="item in headers track by $index">
                    <div class="col-xs-2 dropdown">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{item.type}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="item.type='Request'">Request</a></li>
                            <li><a href="#" ng-click="item.type='Response'">Response</a></li>
                        </ul>
                        <!-- <flip-switch ng-model="item.isOn" identifier="redir-{{$index}}"/> -->
                        <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('on', item)">On</button> -->
                        <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('off', item)">Off</button> -->
                        
                    </div>

                    <div class="col-xs-4">
                        <input type="text" ng-model="item.name" class="form-control input-sm" >
                    </div>
                    <div class="col-xs-5">
                        <input type="text" ng-model="item.value" class="form-control input-sm" >
                    </div>   
                      <button class="btn btn-danger btn-sm" ng-click="deleteHeader(item)"><span class="glyphicon glyphicon-minus"></span></button>                                          
                </div>
                </div>
            </div>       
<!--         <div ng-show="!navIsRedirect || !extInfo.enabled" class="bs-callout bs-callout-danger">
            <h4>Chrome extension not installed/enabled</h4>
            <p>Get it here <a href="" ng-click="installExtension()"></a></p>
        </div> -->
    </div>
        <div class="bs-callout bs-callout-danger" ng-show="navIsRedirect && (maps == null || maps.length == 0)">
            <h4>No redirect rules</h4>
            <p>Create a new redirect rule by clicking New</p>
        </div> 

    


        <nav class="navbar navbar-toolbar navbar-default navbar-fixed-bottom resources-nav res-show" ng-show="showResources" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="" href="#" class="navbar-brand">
                        <span class="proxly-name">http://{{server.status.host}}:{{server.status.port}}/</span>
                    </a>


                </div>

<!--                 <form class="navbar-form navbar-left " role="search">
                    <div class="form-group">
                        <span class="proxly-host">http://{{server.status.host}}:</span>
                        <input type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534">
                        <button type="button" ng-click="changePort()" class="btn btn-sm 'btn-default'">Save</button>
                    </div>

                </form> -->

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav nav">
                        <li><input ng-disabled="server.status.isOn" identifier="server" type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534"></li>
                        <li>
                            <div class="btn-group" >
                                <flip-switch ng-model="server.status.isOn" knob-label="Server" identifier="server"/>
                            </div>
                        </li>
                        <li>
                            <a ng-hide="currentResources==undefined || currentResources.length == 0" href="" ng-click="showResources=!showResources" class="pull-right">{{showResources ? 'Hide' : 'Show'}} Resources ({{currentResources.length}})  </a>
                        </li>
                        <li>
                            <a class="pull-right" ><span ng-click="refreshCurrentResources()" class="glyphicon glyphicon-repeat"></span></a>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="resource-footer">
                    <div class="container-fluid">
                        <div class="row" ng-repeat="res in filteredResources = (currentResources | regex:'url':currentFilter.url) track by $index">
                            <div class="col-xs-12 resource-list">
                                <dl class="dl-horizontal">
                                    <div></div>
                                    <!-- <dd/> -->
                                    <dt>URL</dt>
                                    <dd>
                                        <span ng-bind-html="res.url | highlight:$parent.currentFilter.url:caseSensitive">{{res.url}}</span>
                                    </dd>
                                    <dt>Redirect</dt>
                                    <dd>
                                        <span>{{res.origin != null ? res.origin : ''}}{{res.localPath}}</span>
                                    </dd>
                                    <dt ng-show="res.origin == null">File</dt>
                                    <dd ng-show="res.origin == null">
                                        <span>{{res.localFile}}
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div> 
        </nav>
        


    </div>
                
    <div class="dropper"><span class="glyphicon glyphicon-folder-open glyphicon-align-center"></span></div>
    <script src="scripts/index.bundle.js"></script>
    <!-- <script src="scripts/livereload.js"></script> -->
</body>

</html>
