<!doctype html>
<html ng-csp>

  <head>
    <title>Redirector</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="styles/jquery.min.js"></script>
    <script type="text/javascript" src="styles/bootstrap.min.js"></script>

  </head>

  <body ng-controller="MainCtrl">

    <div class="container-fluid">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a ng-click="toggleServer()" style="" href="#" class="navbar-brand">
        <span class="glyphicon glyphicon-off server-{{server.status}}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>http://{{server.host}}:{{server.port}}/</span>
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li>
        <div class="btn-group">
          <button class="btn btn-success navbar-btn" type="button" id="" ng-click="newMapping()">New
          </button>
          <button class="btn btn-success dropdown-toggle navbar-btn" type="button" id="" data-toggle="dropdown">

            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="">
            <li ng-click="newMapping(item)" ng-repeat="item in presets"><a href="#">{{item.presetName}}</a></li>
          </ul>
        </div>
      </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>

      </ul>
  </div>
  </div><!-- /.container-fluid -->
</nav>

      <div class="row">

      <!-- <span class="iconic iconic-md iconic-cogs" title="gear" aria-hidden="true"></span> -->




      </div>
          <div class="panel panel-default" ng-repeat="item in maps track by $index">

            <div class="panel-content">
              <h4>{{item.directory}}&nbsp;
                <button class="btn btn-danger btn-xs pull-right" ng-click="deleteMapping(item)">Delete</button>
                <button class="btn btn-xs pull-right btn-info" ng-click="openDirectory(item)">{{item.directory == null ? 'Add' : 'Change'}}</button>
              </h4>

          </div>
        <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <span class="label label-default">Match</span><input ng-model="item.url" type="text" class="form-control">
          </div>
          <div class="col-xs-6">
            <span class="label label-default">Replace With</span><input ng-model="item.regexRepl" ng-change="setLocalPath(item)" type="text" class="form-control">
          </div>
          </div>
        <br>
        <div class="row"  ng-repeat="res in filteredResources = (currentResources | regex:'url':item.url)">

          <div class="col-xs-1"><img class="iconic iconic-md" src="images/file-{{res.extension}}-md.svg"></div>
          <div class="col-xs-11 resource-list">

                <dl class="dl-horizontal">
                <div></div>
                <!-- <dd/> -->
                  <dt>URL</dt>
                  <dd><p ng-bind-html="res.url | highlight:item.url:caseSensitive">{{res.url}}</p></dd>
                  <dt>Local</dt>
                  <dd><p>{{res.localPath}}</p></dd>
                </dl>
          </div>
        </div>

        </div>
      </div>
    </div>

    <script src="bundles/index.bundle.js"></script>
    <script src="styles/livereload.js"></script>
  </body>

</html>
