<!doctype html>
<html ng-csp>

<head>
    <title>Redirector</title>
    <meta name="viewport" content="width=device-width">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/proxly/ijcjmpejonmimoofbcpaliejhikaeomh">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.css">
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>

</head>

<body ng-controller="ProxlyCtrl" ng-cloak id="">
  <div id="main-container">
    <div class="container-fluid">
        
        <nav class="navbar navbar-fixed-top navbar-toolbar navbar-default navbar-fixed-top proxly-nav-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="" href="#" class="navbar-brand proxly-image">
                        <span class="proxly-name">Proxly</span>
                    </a>


                </div>

<!--                 <form class="navbar-form navbar-left " role="search">
                    <div class="form-group">
                        <span class="proxly-host">http://{{server.status.host}}:</span>
                        <input type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534">
                        <button type="button" ng-click="changePort()" class="btn btn-sm btn-default">Save</button>
                    </div>

                </form> -->

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav nav">
                        <li ng-click="navIsRedirect=false" class="{{navIsRedirect ? '' : 'active'}}"><a href="#">Server</a></li>
                        <li ng-click="navIsRedirect=true" class="{{navIsRedirect ? 'active' : ''}}"><a href="#">Redirect</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <button class="btn btn-success navbar-btn" type="button" id="" ng-click="newItem()">Add {{navIsRedirect ? 'Redirect' : 'Directory'}}
                                </button>
                          
                        </li>
                    </ul>
                </div>

            </div>

        </nav>


    </div>
    <div class="main-content container-fluid">

        <div ng-show="navIsRedirect==false && (directories != null && directories.length > 0)" class="panel panel-info repeated-item" ng-repeat="item in directories track by $index">
                <div class="panel-body">
                    <div class="input-group proxly-name">
                        <div class="col-xs-2">
                            <div class="btn-group">
                            <flip-switch ng-model="item.isOn" identifier="dir-{{$index}}"/>
                            </div>

                        </div>
                        <div class="col-xs-10">
                            <div class="col-xs-11">
                                <input type="text" id="projectName" class="form-control proxly-input project-name" ng-model="item.name"></input>
                            </div>
                            <div class="col-xs-1">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" ng-click="deleteDirectory(item)">&nbsp;Delete&nbsp;</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group proxly-folder">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </div>
                        <div class="col-xs-10">
                            <code>{{item.pathName}}</code>
                        </div>
                    
                        <div class="col-xs-1">
                            <span class="input-group-btn">
                                <button class="btn btn-info" ng-click="openDirectory(item)">Browse</button>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="bs-callout bs-callout-danger" ng-show="navIsRedirect==false && (directories == null || directories.length == 0)">
            <h4>No directories have been added</h4>
            <p>Click the button to add a directory in here.<br>
            Drag and Drop is experimental, it will probably eat your memory and crash</p>
        </div>
        <div ng-show="navIsRedirect" class="panel panel-info repeated-item" ng-repeat="item in maps track by $index">

                <div class="panel-body">
                    <div class="input-group proxly-name">
                        <div class="col-xs-2">
                            <div class="btn-group">
                                <!-- <flip-switch ng-model="item.isOn" identifier="redir-{{$index}}"/> -->
                                <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('on', item)">On</button> -->
                                <!-- <button ng-click="toggleItem(item)" type="button" class="btn" ng-class="getClass('off', item)">Off</button> -->
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="col-xs-10">
                                <input type="text" id="projectName" class="project-name proxly-input" ng-model="item.name"></input>
                            </div>
                            <div class="col-xs-1">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" ng-click="deleteMapping(item)">Delete</button>
                                </span>
                            </div>
                        </div>
                    </div>


                <div class="row" ng-show="item.isRedirect == true">
                    <div class="col-xs-6">
                        <span class="label label-default">Match</span>
                        <input list="regex-url" ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-change="setLocalPath(item)" ng-model="item.url" type="text" class="form-control input-sm" />
<!--                         <datalist id="regex-url">
                            <option value="test"></option>
                        </datalist> -->
                    </div>
                    <div class="col-xs-6">
                        <span class="label label-default">Replace With</span>
                        <input ng-focus="$parent.showResources=true && setCurrentFilter(item)" ng-blur="$parent.showResources=false" ng-model="item.regexRepl" ng-change="setLocalPath(item)" type="text" class="form-control input-sm" />
                    </div>
                </div>       
        </div>
       
<!--         <div ng-show="!navIsRedirect || !extInfo.enabled" class="bs-callout bs-callout-danger">
            <h4>Chrome extension not installed/enabled</h4>
            <p>Get it here <a href="" ng-click="installExtension()"></a></p>
        </div> -->
    </div>
        <div class="bs-callout bs-callout-danger" ng-show="navIsRedirect && (maps == null || maps.length == 0)">
            <h4>No redirect rules</h4>
            <p>Create a new redirect rule by clicking New</p>
        </div> 

    


        <nav class="navbar navbar-toolbar navbar-default navbar-fixed-bottom resources-nav res-show" ng-show="showResources" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="" href="#" class="navbar-brand">
                        <span class="proxly-name">http://{{server.status.host}}:{{server.status.port}}/</span>
                    </a>


                </div>

<!--                 <form class="navbar-form navbar-left " role="search">
                    <div class="form-group">
                        <span class="proxly-host">http://{{server.status.host}}:</span>
                        <input type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534">
                        <button type="button" ng-click="changePort()" class="btn btn-sm 'btn-default'">Save</button>
                    </div>

                </form> -->

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav nav">
                        <li><input ng-disabled="server.status.isOn" identifier="server" type="number" ng-model="server.status.port" class="form-control input-xs proxly-port" placeholder="31337" min="1025" max="65534"></li>
                        <li>
                            <div class="btn-group" >
                            <flip-switch ng-model="serverCheckbox" toggle-this="toggleServer()" identifier="server"/>
                            </div>
                        </li>
                        <li>
                            <a ng-hide="currentResources==undefined || currentResources.length == 0" href="" ng-click="showResources=!showResources" class="pull-right">{{showResources ? 'Hide' : 'Show'}} Resources ({{currentResources.length}})  </a>
                        </li>
                        <li>
                            <a class="pull-right" ><span ng-click="refreshCurrentResources()" class="glyphicon glyphicon-repeat"></span></a>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="resource-footer">
                    <div class="container-fluid">
                        <div class="row" ng-repeat="res in filteredResources = (currentResources | regex:'url':currentFilter.url) track by $index">
                            <div class="col-xs-12 resource-list">
                                <dl class="dl-horizontal">
                                    <div></div>
                                    <!-- <dd/> -->
                                    <dt>URL</dt>
                                    <dd>
                                        <span ng-bind-html="res.url | highlight:$parent.currentFilter.url:caseSensitive">{{res.url}}</span>
                                    </dd>
                                    <dt>Redirect</dt>
                                    <dd>
                                        <span>{{server.status.url}}{{res.localPath}}</span>
                                    </dd>
                                    <dt>File</dt>
                                    <dd>
                                        <span>{{res.localFile}}
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div> 
        </nav>
        


    </div>
                
    <div class="dropper"><span class="glyphicon glyphicon-folder-open glyphicon-align-center"></span></div>
    <script src="scripts/index.bundle.js"></script>
    <!-- <script src="scripts/livereload.js"></script> -->
</body>

</html>
